# Configuration file

"biome blacklist" {
    # List any biomes where Demesnes should not spawn. [default: [river]]
    S:biome_blacklist <
     >
}


"biome whitelist" {
    # List any biomes where Demesnes should not spawn. [default: []]
    S:biome_whitelist <
        thaumcraft:magical_forest
        midnight:vigilant_forest
        vampirism:vampireforest
        twilightforest:dense_twilight_forest
        twilightforest:twilight_forest
        atum:limestone_crags
        traverse:glacier
        twilightforest:twilight_glacier
        minecraft:void
        aether_legacy:aether_highlands
        minecraft:ice_mountains
        twilightforest:dark_forest
        minecraft:hell
        beneath:the_beneath
        minecraft:roofed_forest
        atum:oasis
        atum:ruined_city
     >
}


"totem blacklist" {
    # List any totems here that you do not want enabled [default: []]
    S:totem_blacklist <
        
     >
}


totems {
    S:totem_blacklist <
        
     >
}


