# Configuration file

general {
    # Allow fake players to interact with frames
    B:AllowFakePlayers=false

    # Base teleport distance of the teleport module
    # Min: 0
    # Max: 1000
    I:BaseTeleportRange=64

    # Base range of the vacuum frame
    # Min: 1
    # Max: 10
    I:BaseVacuumRange=3

    # Makes the Item Teleport Module to not vacuum items
    B:DisableAutomaticItemTransfer=false

    # Maximum number of upgrades a frame can hold
    # Min: 0
    # Max: 10
    I:MaxFrameUpgrades=5

    # Base Fluid Capacity of the tank frame (mB)
    # Min: 1000
    # Max: 32000
    I:TankFrameCapacity=4000

    # Transferrate of the tank (mB) [0=disabled]
    # Min: 0
    # Max: 1000
    I:TankTransferRate=100
}


