# Configuration file

config {

    drops {
        # Maximum amount of experience drop from the Ore
        # Min: 0
        # Max: 2147483647
        I:"Maximum Experience Per Ore"=2

        # Maximum nuggets drop from the Ore (without fortune). Every Level of fortune increases this value by 1
        # Min: 0
        # Max: 2147483647
        I:"Maximum Nuggets Per Ore"=6

        # Minumum amount of experience drop from the Ore
        # Min: 0
        # Max: 2147483647
        I:"Minimum Experience Per Ore"=0

        # Minumum nuggets drop from the Ore
        # Min: 0
        # Max: 2147483647
        I:"Minimum Nuggets Per Ore"=4
    }

    "ore properties" {
        # Chance for zombie pigman to get aggroed when a nether gold ore is mined. Set to 0 to disable
        # Min: 0.0
        # Max: 100.0
        D:"Pigman Aggro Chance"=5.0

        # Radius (from ore mined) for zombie pigman to get aggroed when a nether gold ore is mined
        # The radius has to be intended as a cube and not a sphere
        # Min: 0.0
        # Max: 3.4028234663852886E38
        D:"Pigman Aggro Radius"=24.0

        # Chance (1 in x) for zombie pigman to get aggroed when a nether gold ore is mined and the pigman see the player.s
        # Min: 1
        # Max: 2147483647
        I:"Pigman See Chance"=4
    }

    "ore generation" {
        # The maximum height (Y) to try to generate Veins
        # Min: 0
        # Max: 128
        I:"Max Y"=128

        # The minimum height (Y) to try to generate Veins
        # Min: 0
        # Max: 128
        I:"Min Y"=0

        # Number of blocks generated per vein (not exact)
        # Min: 0
        # Max: 2147483647
        I:"Ore Per Vein"=22

        # Number of veins that have to try to spawn per chunk, values below 1 will be chance per chunk to spawn. (By default there's 80% chance for a vein to spawn per chunk)
        # Min: 0.0
        # Max: 3.4028234663852886E38
        D:"Vein Per Chunk"=0.800000011920929
    }

}


