# Configuration file

balancing {
    # Enabling this will cancel any structure generation if another structure is present at the cooridnate already. [default: true]
    B:avoidOverlappingGeneration=true

    # Chance to use the customArtifactTag when an artifact generation tag fires. [range: 0.0 ~ 1.0, default: 0.0]
    S:customArtifactChance=0.0

    # Custom Loot Table to override when an artifact generation tag fires. [default: ]
    S:customArtifactTag=

    # Chance to use the customArtifactTag when a book generation tag fires. [range: 0.0 ~ 1.0, default: 0.0]
    S:customBookChance=0.0

    # Custom Loot Table to override when a book generation tag fires. [default: ]
    S:customBookTag=

    # Enable hacks for a few decoration types. Disabling this may fix problems but will deactivate ReC overriding those types of structures. [default: true]
    B:decorationHacks=true

    # Resource Expression that will restrict logging of structures that fail to generate. [default: ]
    S:failingStructureLogExpression=

    # Whether the nature (e.g. trees, mushrooms) added by the mod should be actively generating. [default: true]
    B:generateNature=true

    # Global toggles that can be used in expressions. You can also add your own. Ex: 'treeLeavesDecay: true'. [default: [treeLeavesDecay: true]]
    S:globalToggles <
        treeLeavesDecay: true
     >

    # If disabled, Recurrent Complex will generate structures in worlds without the structure generation option. [default: true]
    B:honorStructureGenerationOption=true

    # Resource Expression that will be applied to each loading loot table, determining if it should be set to 'active'. [default: ]
    S:inventoryGeneratorGenerationMatcher=

    # Resource Expression that will be applied to each loading loot table, determining if it should be loaded. [default: ]
    S:inventoryGeneratorLoadMatcher=

    # Maximum number of reverses per room the maze generator can do. A higher number results in a better generation success rate, but may freeze the server temporarily. [range: -1.0 ~ 100.0, default: 3.0]
    S:mazePlacementReversesPerRoom=3.0

    # Maze generation timeout, in milliseconds. After the time is over, the maze generation will just give up. [range: -1 ~ 600000, default: 20000]
    I:mazeTimeout=20000

    # Within this block radius, default structures won't spawn (in the main dimension). [range: 0.0 ~ 500.0, default: 30.0]
    S:minDistToSpawnForGeneration=30.0

    # List of spawn chance tweaks to structures: IceThorn:0.5 [default: ]
    S:spawnTweaks <
        VillageTriplets:0.002907522
        UndergroundCultChamber:1.4419801E-4
        StatueTemple:8.0866885E-4
        PyramidMazeScriptureTurn:0.016748575
        PyramidMazeStorage:0.025877403
        StoneBoulder:3.2498597E-4
        WoodWallRemains:6.536629E-4
        VillageHouseRich1:0.0020830743
        StoneMazeSmall:0.0024678623
        GenericTreeHuge:0.0015909657
        MysticalTree:0.005334024
        UnnaturalCrater:5.23393E-4
        NetherThorn:0.0034077251
        WoodThorn:0.0012066502
        OakTreeBig:0.018740326
        PirateChest:0.02868765
        Basswood:0.0
        StoneMazeFountain:1.4419801E-4
        BirchTreeBig1:6.393734E-4
        ForestBeacon:0.0
        StoneMazePathBig:0.0024678623
        WoodenClockTower:1.9190097E-4
        NetherThorn5:0.013272756
        NetherThorn4:0.013272756
        NetherThorn3:0.01176614
        NetherThorn2:0.023291852
        NetherThorn1:0.0070424406
        DesertBeacon:0.0
        DinosaurSkeleton:0.0
        BabylonTower:0.0
        PyramidMazePath:0.018740326
        StoneLeafMound:2.5146795E-4
        ClayWaterMound:6.393734E-4
        ShrineSmallAir:0.020917213
        SpiderPit:0.0017478527
        SmallClockworkSite:0.008046974
        ForestMazeCrossing:1.074595E-4
        VillageForgeLarge:3.2498597E-4
        MysticalTree1:0.009162998
        LodgepolePine:7.71207E-5
        StoneMazeBig:6.536629E-4
        ForestMazeClearing:7.418588E-5
        MesoMazeCorridorCollapse:5.4620396E-5
        SmallWoodenCottage:0.0014572477
        SmallFortRuinsJapanese:0.009162998
        FirTreeBig:1.074595E-4
        ForestMaze3Way:4.9717677E-5
        StoneMazePagoda:0.005334024
        AbandonedWoodTower:2.8369337E-4
        PyramidMazePagoda:0.025877403
        SmallPyramid:0.0014572477
        BrickHenge:2.0950992E-4
        IceThorn3:2.5146795E-4
        BirchTree1:3.7754356E-4
        ClayWaterMound1:0.0010297175
        FallenPalmTree:2.0950992E-4
        PyramidMazeCorridorCollapse:0.013272756
        ElvenPond:0.0
        UndergroundTreeoid:1.0649141E-4
        BrownMushroom1:0.0010297175
        SmallAbandonedMine:0.014929898
        QuakingAspen:0.025877403
        StonePlantMound:0.0024678623
        IceThorn4:7.71207E-5
        SnakeTemple:0.0024678623
        BrownMushroom:4.9473497E-4
        PeacefulCrypt:0.01176614
        MesoMazeStairCorridor:7.71207E-5
        PyramidMazeZombieTable:0.025877403
        RedMushroom1:0.038612805
        StoneIceBoulder3:0.0012066502
        StoneIceBoulder2:0.0012066502
        StoneIceBoulder1:0.0012066502
        IceThorn1:8.0866885E-4
        VillageSavannaChandlery:0.0017478527
        AlascaCedar:1.517263E-4
        GenericTreeSmall:0.0015909657
        CuboneSkull:0.0
        StoneMazeLitRoom:0.005334024
        JungleTreeHuge:5.4620396E-5
        JungleTreeHuge1:5.4620396E-5
        PyramidMazeSpiderTurn:0.018740326
        JokerTower:5.996905E-6
        IceThorn2:0.0012066502
        SmallAbandonedOutpost:0.061106723
        ForestMaze:7.418588E-5
        DeadTreeLarge2:8.160203E-4
        SavannaTree:0.02868765
        DesertWatchtower:0.0010297175
        GiganticTree1:0.0019512131
        StoneMaze:4.1477362E-4
        VillageSavannaStonemason:0.002907522
        DeadTreeLarge1:4.9717677E-5
        MesoMazePagoda:3.7707818E-5
        OakTree:0.010399551
        VillageHouseRich:5.23393E-4
        TemplePyramid:2.5146795E-4
        VillageSavannaGlassworks:0.0024678623
        DeadTreeLarge3:7.418588E-5
        MysticalTree2:0.005334024
        LonePillars:5.4620396E-5
        ShrineSmallWater:0.0046143364
        MonolythUnholy:0.0
        Fiberpalm:2.0950992E-4
        VeldtBath:8.0866885E-4
        WellShrine:0.0014572477
        DesertFort:1.517263E-4
        FirTree:7.418588E-5
        PyramidMazePillar:0.018740326
        StoneMazeSpiderRoom:0.003974516
        VillageSavannaLibrary:0.0012066502
        StoneMazeShootingRange:0.0017478527
        DesertHut:1.074595E-4
        GenericTree6:4.9473497E-4
        GenericTree5:2.0950992E-4
        GenericTree4:8.160203E-4
        GenericTree3:2.0950992E-4
        GenericTree2:1.074595E-4
        GenericTree1:2.0459953E-7
        SmallWoodenCottage2:0.0012066502
        SmallWoodenCottage1:0.0020830743
        PyramidMazeStairCorridor:0.025877403
        BigClockworkSite:0.0019512131
        PyramidMazeClosedDoorway:0.013272756
        Mopane:0.008046974
        MesoMazeStairTurn:1.9190097E-4
        TemplePyramid1:1.4419801E-4
        StoneMazeEndChest:0.0014572477
        VillageGuardTower:5.23393E-4
        MesoMazePath:2.5270901E-5
        VillageInn:0.0020830743
        VillageWoodMill:0.0017478527
        MesoMazeSpiderTurn:0.0014572477
        CorruptedEnderTree:0.0
        TribalJungleHead:7.71207E-5
        WhiteWillowLarge:6.536629E-4
        ShrineSmallEarth:0.0046143364
        ChurchGraveyardRuins:6.393734E-4
        ForestMazeCorridor:1.074595E-4
        MesoMazeStorage:2.5146795E-4
        SavannaTree1:0.023291852
        OldWatchtower:0.009162998
        SmallOutpost:0.0024678623
        ShrineSmallFire:0.013272756
        SpruceTree3:1.9190097E-4
        SpruceTree2:0.0020830743
        MeteorSite:0.0020830743
        BigPyramid:0.0010297175
        WitchPillars:6.536629E-4
        StonePlantMound4:0.0046143364
        StonePlantMound3:0.0034077251
        StonePlantMound2:0.0070424406
        StonePlantMound1:0.0017478527
        PyramidMazeStairTurn:0.025877403
        MonolythHoly:0.0
        WoodThornBig:0.0012066502
        BirchTreeBig:2.0950992E-4
        HillAltarHouse:5.23393E-4
        VillageMarketplace:0.0012066502
        SpruceTree:0.0014572477
        ForestMazeEnd:1.074595E-4
        UndergroundCrypt:7.71207E-5
        MesoMazeZombieTable:0.0012066502
        MesoMazeGrowth:1.0649141E-4
        BirchTree:0.0010297175
        BlazeSpawnerCrystal:0.0012860089
        PirateHideout:0.014929898
        VillageSavannaTannery:9.917782E-4
        IceThorn:6.536629E-4
        ForestMazeSlimes:1.517263E-4
        SpruceTree1:0.0017478527
        GenericTree:3.3581093E-6
        DinosaurSkull:0.0
        StoneMazeHuge:0.002907522
        RedMushroom:0.042471156
        DeadTreeLarge:2.0950992E-4
        GiganticTree:0.0019512131
        VillageChurch:5.23393E-4
        SmallFortRuins:0.010399551
        StoneIceBoulder:1.4419801E-4
        StoneMazeStudy:0.003974516
        StonePlantBoulder:0.003974516
        VillageSavannaKitchen:0.0020830743
        StoneMazePath:0.002907522
        SpruceTreeBig:0.0012066502
        OakTreeHuge:0.014929898
        ForestMazeTurn:2.8369337E-4
     >

    # Resource Expression that will be applied to each loading structure, determining if it should be set to 'active'. [default: ]
    S:structureGenerationMatcher=

    # Resource Expression that will be applied to each loading structure, determining if it should be loaded. [default: ]
    S:structureLoadMatcher=

    # How often do structures spawn? [range: 0.0 ~ 10.0, default: 1.0]
    S:structureSpawnChance=1.0

    # Biome Expression that will be checked for every single structure. Use this if you want to blacklist / whitelist specific biomes that shouldn't have structures. [default: ]
    S:universalBiomeMatcher=

    # Dimension Expression that will be checked for every single structure. Use this if you want to blacklist / whitelist specific dimensions that shouldn't have structures. [default: ]
    S:universalDimensionMatcher=

    # Transformer preset names that are gonna be applied to every single generating structure. Use this if you need to enforce specific rules (e.g. "don't ever spawn wood blocks" (with a replace transformer). [default: ]
    S:universalTransformerPresets <
     >
}


controls {
    # The key to be held when you want to make a secondary selection with block selectors [default: ctrl]
    S:blockSelectorModifierKeys=ctrl
}


decoration {
    # The base weight of RC sapling generation types. The vanilla tree weight is 1 - if you want to fully replace vanilla trees, crank this up to something big. [range: 0.0 ~ 100000.0, default: 0.2]
    S:baseSaplingSpawnWeight=0.2

    # The base weight of RC village generation types. Vanilla average is about 10 - if you want to fully replace vanilla structures in villages, crank this up to something big. [range: 0 ~ 100000, default: 10]
    I:baseVillageSpawnWeight=10

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_big_mushroom=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_cactus=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_desert_well=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_fossil=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_mineshaft=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_nether_bridge=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_ocean_monument=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_scattered_feature=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_stronghold=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_tree=0.2

    # The base weight of this decoration type. The vanilla decorator has a weight of 1 - if you want to fully replace vanilla decoration, crank this up to something big. [range: 0.0 ~ 1000.0, default: 0.2]
    S:baseWeight_village=0.2

    # The chance to trigger any special sapling spawns at all. If you want to disable the big trees, set this to 0. [range: 0.0 ~ 1.0, default: 1.0]
    S:saplingTriggerChance=1.0
}


general {
    # The required permission level for /#as to function. Set to 2 for command blocks and OPs, 4 for only server, or -1 to disable. Note that this could be a security problem on low levels. [range: -1 ~ 10, default: 4]
    I:asCommandPermissionLevel=4

    # List of Command Expressions determining if a command can be executed. Example: #export:#3 | $Ivorforce [default: ]
    S:commandMatchers <
     >

    # The String that will be prefixed to every command, e.g. '#' -> '/#gen', '#paste' etc. [default: #]
    S:commandPrefix=#

    # Enabling this will make the mod register as little as possible, which enables it to be used server-side only. Note that this prevents you from editing or importing structures. [default: false]
    B:lightweightMode=false

    # Memorize decoration spawns like trees or mushrooms (for /#whatisthis). Since decoration is so common, it is recommended to use this only for debugging / balancing purposes. [default: false]
    B:memorizeDecoration=false

    # Memorize sapling spawns (for /#whatisthis). Since saplings are so common, it is recommended to use this only for debugging / balancing purposes. [default: false]
    B:memorizeSaplings=false

    # Disabling this will prevent spawn command blocks from notifying the server admins, as normal commands would. [default: false]
    B:notifyAdminOnBlockCommands=false

    # Once per world, post the status of ReC to the admins. [default: true]
    B:postWorldStatus=true

    # Whether player caches like the clipboard and previewed operations will be saved and loaded. [default: true]
    B:savePlayerCache=true
}


visual {
    # Only show the edges of negative space blocks? (Improves performance in big builds) [default: true]
    B:hideRedundantNegativeSpace=true
}


