# Configuration file

##########################################################################################################
# data
#--------------------------------------------------------------------------------------------------------#
# Defines a whitelist of which enchantments can be rolled and buffed by the enchantment-amulet. The higher the weight, the more likely that roll is selected.Format: <enchantment-registry-name>:<weight>
##########################################################################################################

data {
    #  [default: [minecraft:protection:10], [minecraft:fire_protection:5], [minecraft:feather_falling:5], [minecraft:blast_protection:2], [minecraft:projectile_protection:5], [minecraft:respiration:2], [minecraft:aqua_affinity:2], [minecraft:thorns:1], [minecraft:depth_strider:2], [minecraft:frost_walker:2], [minecraft:sharpness:10], [minecraft:smite:5], [minecraft:bane_of_arthropods:5], [minecraft:knockback:5], [minecraft:fire_aspect:2], [minecraft:looting:2], [minecraft:sweeping:2], [minecraft:efficiency:10], [minecraft:silk_touch:1], [minecraft:unbreaking:5], [minecraft:fortune:2], [minecraft:power:10], [minecraft:punch:2], [minecraft:flame:2], [minecraft:infinity:1], [minecraft:luck_of_the_sea:2], [minecraft:lure:2], [minecraft:mending:2], [unbreaken:unbreak:5], [uniquee:berserk:2], [uniquee:all:1], [uniquee:undead:2], [uniquee:arthropods:2], [uniquee:vitae:1], [uniquee:swift:2], [uniquee:sages_blessing:10], [uniquee:swiftblade:1], [uniquee:spartanweapon:2], [uniquee:perpetualstrike:1], [uniquee:climate_tranquility:2], [uniquee:warriorsgrace:1], [uniquee:endermarksmen:1], [uniquee:aresblessing:1], [uniquee:alchemistsgrace:1], [uniquee:cloudwalker:2], [uniquee:fastfood:2], [uniquee:naturesgrace:1], [uniquee:ecological:2], [aerialaffinity:aerial_affinity:2], [bibliocraft:bibliocraft.deathcompassench:1], [bibliocraft:bibliocraft.readingench:5], [ebwizardry:magic_sword:10], [ebwizardry:magic_bow:10], [ebwizardry:flaming_weapon:10], [ebwizardry:freezing_weapon:10], [ebwizardry:magic_protection:5], [ebwizardry:frost_protection:2], [ebwizardry:shock_protection:2], [endercore:xpboost:5], [endercore:autosmelt:2], [endreborn:ender_core:2], [endreborn:ender_killer:2], [endreborn:shulker_core:2], [felling:felling:5], [ffenchants:explosive_arrow:1], [ffenchants:archers_revenge:1], [ffenchants:expulsion:2], [ffenchants:arrowstorm:1], [ffenchants:extinguish:2], [ffenchants:poison_aspect:5], [ffenchants:wither_aspect:2], [ffenchants:vampiric:1], [ffenchants:bloodlust:2], [ffenchants:gills:1], [ffenchants:cursed_body:1], [ffenchants:leaping:2], [ffenchants:ascension:2], [ffenchants:void_energy:2], [minecraftfuture:channeling:1], [minecraftfuture:impaling:2], [minecraftfuture:loyalty:5], [minecraftfuture:riptide:2], [naturalpledge:heavy:10], [naturalpledge:light:10], [livingenchantment:enchantment.living:1], [notenoughscaffold:big_holes:2], [parry:parry:10], [selim_enchants:amplify:5], [selim_enchants:banishing:5], [selim_enchants:magma_walker:2], [selim_enchants:uncivilized:5], [selim_enchants:vorpal:5], [selim_enchants:warping:5], [selim_enchants:wither:2], [selim_enchants:recall:1], [selim_enchants:tilling:5], [selim_enchants:venom:2], [selim_enchants:conversion:2], [selim_enchants:reflection:2], [selim_enchants:ender_shift:1], [somanyenchantments:clearsky:2], [somanyenchantments:moonlight:2], [somanyenchantments:raining:1], [somanyenchantments:sunshine:1], [somanyenchantments:thunderstorm:1], [somanyenchantments:winter:1], [somanyenchantments:smelter:1], [somanyenchantments:empowereddefence:2], [somanyenchantments:strafe:5], [somanyenchantments:criticalstrike:2], [somanyenchantments:advancedlooting:1], [somanyenchantments:levitator:2], [somanyenchantments:magicprotection:5], [somanyenchantments:physicalprotection:2], [somanyenchantments:ashdestroyer:2], [somanyenchantments:desolator:2], [somanyenchantments:disorientation:2], [somanyenchantments:purgingblade:5], [somanyenchantments:viper:2], [somanyenchantments:advancedpower:1], [somanyenchantments:envenomed:2], [somanyenchantments:rune_revival:1], [somanyenchantments:advancedpunch:1], [somanyenchantments:advancedlure:1], [somanyenchantments:advancedluckofthesea:1], [somanyenchantments:advancedfeatherfalling:1], [somanyenchantments:advancedthorns:2], [somanyenchantments:burningthorns:1], [somanyenchantments:advancedprotection:1], [somanyenchantments:advancedfireprotection:1], [somanyenchantments:advancedblastprotection:2], [somanyenchantments:advancedprojectileprotection:2], [somanyenchantments:quarrying:1], [somanyenchantments:blessededge:2], [somanyenchantments:butchering:2], [somanyenchantments:defusion:2], [somanyenchantments:advancedbaneofarthropods:2], [somanyenchantments:advancedefficency:2], [somanyenchantments:advancedsharpness:2], [somanyenchantments:advancedsmite:2], [somanyenchantments:fieryedge:1], [somanyenchantments:purification:5], [somanyenchantments:reviledblade:1], [somanyenchantments:rune_piercingcapabilities:1], [somanyenchantments:spellbreaker:2], [somanyenchantments:swifterslashes:1], [somanyenchantments:wateraspect:2], [somanyenchantments:mathematics:2], [somanyenchantments:science:2], [somanyenchantments:history:2], [somanyenchantments:english:2], [somanyenchantments:pe:2], [somanyenchantments:atomicdeconstructor:2], [somanyenchantments:disarmament:2], [somanyenchantments:hors_de_combat:2], [somanyenchantments:lessersharpness:10], [somanyenchantments:supremesharpness:1], [somanyenchantments:lesserbaneofarthropods:10], [somanyenchantments:supremebaneofarthropods:1], [somanyenchantments:lessersmite:10], [somanyenchantments:supremesmite:1], [somanyenchantments:swiper:1], [somanyenchantments:lfa:10], [somanyenchantments:afa:2], [somanyenchantments:sfa:1], [somanyenchantments:freezing:2], [somanyenchantments:advancedmending:1], [somanyenchantments:lfl:10], [somanyenchantments:afl:1], [somanyenchantments:sfl:1], [somanyenchantments:splitshot:1], [somanyenchantments:flinging:5], [somanyenchantments:sharperedge:2], [somanyenchantments:rune_resurrection:1], [somanyenchantments:strengthenedvitality:1], [somanyenchantments:difficultyscaled:2], [somanyenchantments:meltdown:1], [somanyenchantments:welltilled:5], [somanyenchantments:upgrade:2], [somanyenchantments:scythedamage:2], [somanyenchantments:adept:2], [somanyenchantments:brutality:2], [somanyenchantments:magmawalker:1], [somanyenchantments:inhumane:2], [somanyenchantments:fieryshield:2], [somanyenchantments:naturalblocking:2], [somanyenchantments:darkshadows:2], [somanyenchantments:rune_armorpiercing:1], [somanyenchantments:innerberserk:1], [somanyenchantments:tillingpower:2], [somanyenchantments:lightweight:2], [somanyenchantments:luckmagnification:2], [somanyenchantments:ancientcurseinflicter:1], [somanyenchantments:underwaterstrider:2], [somanyenchantments:frenzy:2], [somanyenchantments:evasion:2], [somanyenchantments:pushing:1], [somanyenchantments:pulling:1], [somanyenchantments:penetratingedge:2], [somanyenchantments:combatregeneration:2], [somanyenchantments:advancedknockback:1], [somanyenchantments:rune_magicalblessing:1], [somanyenchantments:counterattack:2], [somanyenchantments:parry:2], [somanyenchantments:lifesteal:2], [somanyenchantments:culling:1], [somanyenchantments:mortalitas:1], [ssench:craftable:10], [ssench:storage:10], [ssench:teleport:10], [vampirism:crossbowinfinite:1], [vampirism:crossbowfrugality:1], [vampirism:vampireslayer:5], [veining:veining:5], [apotheosis:hell_infusion:1], [apotheosis:mounted_strike:2], [apotheosis:depth_miner:2], [apotheosis:stable_footing:2], [apotheosis:scavenger:1], [apotheosis:icy_thorns:2], [apotheosis:tempting:5], [apotheosis:shield_bash:2], [apotheosis:reflective:2], [apotheosis:knowledge:2], [apotheosis:splitting:2], [apotheosis:natures_blessing:2], [apotheosis:rebounding:2], [apotheosis:magic_protection:5], [apotheosis:capturing:1], [apotheosis:true_infinity:1], [astralsorcery:enchantment.as.nightvision:1], [astralsorcery:enchantment.as.smelting:1], [charm:curse_break:2], [charm:homing:2], [charm:magnetic:2], [charm:salvage:10], [cofhcore:holding:5], [cofhcore:insight:5], [cofhcore:leech:5], [cofhcore:multishot:5], [cofhcore:smashing:2], [cofhcore:smelting:2], [cofhcore:soulbound:5], [cofhcore:vorpal:2], [enchanting_tweaks:area:2], [enchanting_tweaks:spellproof:2], [enchanting_tweaks:weightless:2], [enchanting_tweaks:counterattack:2], [enchanting_tweaks:fertilizer:2], [enchanting_tweaks:grounding:5], [enchanting_tweaks:item_link:2], [enchanting_tweaks:momentum:5], [enchanting_tweaks:magnetism:2], [enchanting_tweaks:meat_hook:2], [enchanting_tweaks:reach:2], [enchanting_tweaks:regrowth:2], [enderzoo:witherarrow:5], [enderzoo:witherweapon:5], [naturalabsorption:absorption:2], [aquaculture:appealing:2], [aquaculture:magnetic:2], [aquaculture:long_cast:10], [aquaculture:short_cast:10], [aquaculture:double_hook:1], [aquaculture:barbed_hook:1], [aquaculture:heavy_line:5]]
    S:data <
        minecraft:protection:10
        minecraft:fire_protection:5
        minecraft:feather_falling:5
        minecraft:blast_protection:2
        minecraft:projectile_protection:5
        minecraft:respiration:2
        minecraft:aqua_affinity:2
        minecraft:thorns:1
        minecraft:depth_strider:2
        minecraft:frost_walker:2
        minecraft:sharpness:10
        minecraft:smite:5
        minecraft:bane_of_arthropods:5
        minecraft:knockback:5
        minecraft:fire_aspect:2
        minecraft:looting:2
        minecraft:sweeping:2
        minecraft:efficiency:10
        minecraft:silk_touch:1
        minecraft:unbreaking:5
        minecraft:fortune:2
        minecraft:power:10
        minecraft:punch:2
        minecraft:flame:2
        minecraft:infinity:1
        minecraft:luck_of_the_sea:2
        minecraft:lure:2
        minecraft:mending:2
        unbreaken:unbreak:5
        bibliocraft:bibliocraft.deathcompassench:1
        bibliocraft:bibliocraft.readingench:5
        consecration:blessing:5
        endreborn:ender_core:2
        endreborn:shulker_core:2
        felling:felling:5
        ffenchants:explosive_arrow:1
        ffenchants:archers_revenge:1
        ffenchants:expulsion:2
        ffenchants:arrowstorm:1
        ffenchants:extinguish:2
        ffenchants:poison_aspect:5
        ffenchants:wither_aspect:2
        ffenchants:vampiric:1
        ffenchants:bloodlust:2
        ffenchants:gills:1
        ffenchants:cursed_body:1
        ffenchants:leaping:2
        ffenchants:ascension:2
        livingenchantment:enchantment.living:1
        parry:parry:10
        selim_enchants:amplify:5
        selim_enchants:banishing:5
        selim_enchants:magma_walker:2
        selim_enchants:uncivilized:5
        selim_enchants:vorpal:5
        selim_enchants:warping:5
        selim_enchants:wither:2
        selim_enchants:recall:1
        selim_enchants:tilling:5
        selim_enchants:venom:2
        selim_enchants:conversion:2
        selim_enchants:reflection:2
        somanyenchantments:penetratingedge:10
        somanyenchantments:combatregeneration:2
        somanyenchantments:extremeknockback:1
        somanyenchantments:rune_magicalblessing:1
        somanyenchantments:counterattack:2
        somanyenchantments:parry:2
        somanyenchantments:unpredictable:1
        somanyenchantments:lifesteal:2
        somanyenchantments:culling:1
        somanyenchantments:blessededge:2
        somanyenchantments:butchering:5
        somanyenchantments:defusion:5
        somanyenchantments:extremebaneofarthropods:1
        somanyenchantments:extremeefficency:1
        somanyenchantments:extremesharpness:1
        somanyenchantments:extremesmite:1
        somanyenchantments:fieryedge:1
        somanyenchantments:purification:5
        somanyenchantments:reviledblade:1
        somanyenchantments:rune_piercingcapabilities:1
        somanyenchantments:spellbreaker:10
        somanyenchantments:swifterslashes:1
        somanyenchantments:wateraspect:2
        somanyenchantments:clearsky:2
        somanyenchantments:moonlight:2
        somanyenchantments:raining:1
        somanyenchantments:sunshine:1
        somanyenchantments:thunderstorm:1
        somanyenchantments:winter:1
        somanyenchantments:smelter:1
        somanyenchantments:empowereddefence:5
        somanyenchantments:strafe:5
        somanyenchantments:criticalstrike:5
        somanyenchantments:extremelooting:1
        somanyenchantments:levitator:5
        somanyenchantments:magicprotection:5
        somanyenchantments:physicalprotection:10
        somanyenchantments:ashdestroyer:5
        somanyenchantments:desolator:2
        somanyenchantments:disorientation:2
        somanyenchantments:purgingblade:5
        somanyenchantments:viper:5
        somanyenchantments:extremepower:1
        somanyenchantments:envenomed:2
        somanyenchantments:rune_revival:1
        somanyenchantments:extremepunch:1
        somanyenchantments:advancedlure:1
        somanyenchantments:advancedluckofthesea:1
        somanyenchantments:advancedfeatherfalling:2
        somanyenchantments:advancedthorns:2
        somanyenchantments:burningthorns:2
        somanyenchantments:advancedprotection:2
        somanyenchantments:advancedfireprotection:2
        somanyenchantments:advancedblastprotection:2
        somanyenchantments:advancedprojectileprotection:2
        usefulstuffs:extra_large:2
        usefulstuffs:moon_light:10
        usefulstuffs:fast_draw:10
        vampirism:crossbowinfinite:1
        vampirism:crossbowfrugality:1
        vampirism:vampireslayer:5
        veining:veining:5
        astralsorcery:enchantment.as.nightvision:1
        astralsorcery:enchantment.as.smelting:1
        cofhcore:holding:5
        cofhcore:insight:5
        cofhcore:leech:5
        cofhcore:multishot:5
        cofhcore:smashing:2
        cofhcore:smelting:2
        cofhcore:soulbound:5
        cofhcore:vorpal:2
        enderzoo:witherarrow:5
        enderzoo:witherweapon:5
     >
}


